.palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paletteBox {
  font-size: 14px;
  margin: 1em 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.colorBox {
  height: 60px;
  width: 60px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}

.colorCode {
  font-family: monospace;
  font-size: 12px;
}
