.illustrationOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(162, 162, 162, 0.8);
  z-index: 58;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.overlayContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px 35px 15px;
  border-radius: 15px;
  overflow: auto;
  z-index: 59;
}

.imageOverlay {
  width: 100%;
  max-width: 475px;
  margin: 0 auto;
}

.imageOverlay > img {
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.closeHelperCross {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 20px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  align-items: center;
}

.closeHelperCross > * {
  pointer-events: none;
  width: 20px;
  position: absolute;
  display: block;
  height: 5px;
  background-color: var(--accent);
}
