.projectItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 20px;
  max-width: 773px;
  width: 100%;
  background-color: var(--box-color);
  border-radius: var(--border2);
  box-shadow:
    0px 0px 4px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.06);
}

.projectItemImageWrap {
  width: 250px;
  min-width: 250px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border2);
  overflow: hidden;
}

.projectItemImageWrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.projectItemData {
  display: flex;
  height: 100%;
  flex: 1;
  min-width: 0;
  gap: 12px;
  justify-content: center;
  flex-direction: column;
}

.projectItemTags {
  color: var(--white);
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pItemInfo > p {
  margin-block: 16px;
}

.projectItemLinks {
  display: flex;
  flex-direction: row;
}

/* TABLET */
@media (max-width: 768px) {
  .projectItem {
    flex-direction: column;
    max-width: 100%;
  }

  .projectItemImageWrap {
    width: 100%;
    min-width: unset;
    max-width: 400px;
  }
  .projectItemData {
    height: initial;
  }
}

@media (max-width: 425px) {
  .projectItemImageWrap {
    max-width: 100%;
  }
}
