.center-section {
  color: var(--h1-text-color);
  margin: 40px auto;
  max-width: calc(100% - 5em);
  width: 70em;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .center-section {
    width: 100%;
    margin: initial;
    max-width: initial;
  }
}
