.postSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.containerBlogPost > h1 {
  margin: 0.5em 0px;
}
.containerBlogPost {
  margin-top: 40px;
  color: var(--h1-text-color);
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 50em;
}
.blogPostImage {
  border-radius: var(--border1);
  overflow: hidden;
  width: 100%;
  height: fit-content;
  height: 300px;
}
.blogPostImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mdx figure[data-rehype-pretty-code-figure] {
  margin-bottom: 20px;
}
.mdx figure[data-rehype-pretty-code-figure] pre {
  padding: 15px;
  border-radius: var(--border2);
}

.mdx figure[data-rehype-pretty-code-figure] {
  overflow-x: auto;
}

.mdx figure[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
  min-width: 100%;
}

.mdx figure[data-rehype-pretty-code-figure] code {
  display: grid;
  min-width: 100%;
}
.mdx > * {
  line-height: 1.5;
}

.mdx > p {
  margin-bottom: 1.25em;
}
.mdx > ul {
  margin-bottom: 1.25em;
}

.mdx > h1,
h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.mdx {
}
