.centerSection {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 50em;
}

.containerBlogPost {
  color: var(--h1-text-color);
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 50em;
}

.containerBlogPost > * + * {
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .centerSection,
  .containerBlogPost {
    padding: 0 20px;
    max-width: none;
    width: 100%;
  }
}
