.projectContainer {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 70em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

@media (max-width: 425px) {
  .projectContainer {
    padding: 10px;
    max-width: initial;
  }
}
